<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mb-0">
                <h1 class="display-4">Novo pedido</h1>
            </div>
            <div class="card mt-3">
                <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
                    <div class="form-group">
                        <label for="nomeProduto">Produto</label>
                        <input th:field="*{nomeProduto}" class="form-control" placeholder="nome do produto"/>
                        <small>Informa qual o nome do produto.</small>
                    </div>
                    <div class="form-group">
                        <label for="urlProduto">Url</label>
                        <input th:field="*{urlProduto}" class="form-control" placeholder="url do produto"/>
                        <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
                    </div>
                    <div class="form-group">
                        <label for="urlImagem">Imagem</label>
                        <input th:field="*{urlImagem}" class="form-control" placeholder="url da imagem"/>
                        <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
                    </div>
                    <div class="form-group">
                        <label for="descricao">descricao</label>
                        <textarea th:field="*{descricao}" class="form-control" placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>