<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <div class="card" th:each="pedido : ${pedidos}">
                <div class="card-header" th:text="${pedido.nomeProduto}">Nome do produto</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-8 mb-3">

                            <div class="row">
                                <div class="col-md-5">Valor: <span th:text="${pedido.valorNegociado}">200,99</span></div>
                                <div class="col-md-7">Data da entrega: <span th:text="${pedido.dataEntrega}">10/02/2020</span></div>
                            </div>

                            <div>Produto</div>
                            <div><input class="form-control" th:value="${pedido.urlProduto}" value="url do produto"></div>

                            <div>Descricao</div>
                            <div>
                                <textarea class="form-control" th:text="${pedido.descricao}">descrição do pedido</textarea>
                            </div>

                        </div>
                        <div class="col-12 col-sm-4">
                            <div>
                                <img class="img-thumbnail" th:src="${pedido.urlImagem}" src=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>